<h1>Create a Steam Intersection</h1>

<p>
What is a <strong>Steam intersection</strong>, you say?
A <strong>Steam intersection</strong> is the Steam games/apps
you have in common with one or more other Steam users.
</p>

<p>
Create a new intersection (think "room"), send your friends
the link, add your steam profile ids (visit your profile,
right-click and copy the page url, and snag the number from
the url), and profit!
</p>

<button phx-click="start">Get started</button>


